.content {
    min-width: 900px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.insidecontent {
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}