.ordertitle {
    display: flex;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #7fd8e8;;
    align-items: center;
    margin-bottom: 10px;
}
.title_image, .body_image {
    width: 20%;
    text-align: center;
}
.title_productname, .body_productname {
    width: 20%;
    text-align: center;
}
.title_productprice, .body_productprice {
    width: 15%;
    text-align: center;
}
.title_numberorder, .body_numberorder {
    width: 10%;
    text-align: center;
}
.title_total, .body_total {
    width: 15%;
    text-align: center;
}
.title_action, .body_action {
    width: 20%;
    text-align: center;
}

.body_numberorder, .body_action {
    display: flex;
    justify-content: center;
}

.displaynumberorder {
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    border-color: #e8e8e8;
}
.displaynumberorder input {
    width: 40px;
    height: 30px;
}

.orderitem {
    display: flex;
    height: 170px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    border: 1px solid;
    border-color: #e8e8e8;
    margin-bottom: 10px;
}
.orderitem img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.deleteactionbutton {
    border: 1px solid;
    border-color: #e8e8e8;
    height: 25px;
    width: 35%;
}
.deleteactionbutton:hover {
    color: red;
    border-color: red;
}
.divlistcartfooter {
    display: flex;
    height: 50px;
    background-color: #7fd8e8;;
    margin-left: 100px;
    margin-right: 100px;
}
.divsummaryprice {
    display: flex;
    padding: 5px;
    width: 70%;
}
.summaryprice {
    width: 100%;
    text-align: right;
    background-color: white;
}
.divpaybutton {
    justify-content: center;
    display: flex;
    padding: 5px;
    width: 30%;
    
}
.paybutton {
    text-align: center;
    background-color: #c2eaf1;
    width: 90%;
    height: 40px;
}
.summaryprice p, .paybutton p {
    margin-top:10px;
    margin-bottom: 0;
}