.Header {
    display: flex;
    background-color: #7fd8e8;
    height: 85px;
    padding: 10px 160px 10px 160px;
    min-width: 900px;
}
.banner {
    display: flex;
    width: 25%;
    min-width: 280px;
}
.login, .register, .logout {
    width: 100%;
    height: 100%;
}
.cart {
    width: 50px;
    height: 50px;
}
.banner_image {
    border-radius: 10%;
    width: 70px;
    height: 80px;
}
.banner_name {
    color: rgba(0, 0, 0, 0.54);
    padding-left: 10px;
    font-size: 40px;
}
.cart_image {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.numberproductincart {
    background-color: white;
    border-color: #7FD8E8 !important;
    top: -60px;
    left: 30px;
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 45%;
    width: 25px;
    height: 20px;
    margin: 0;
}
.numberproductincart p{
    color: black;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}
a {
    text-decoration: none;
}
.inputsearch {
    margin-left: 2%;
    padding-left: 2%;
    height: 100%;
    width: 95%;
    border: none;
    border-radius: 5px
}
.register_box, .login_box, .logout_box {
    color: black;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border-color: #f5f5f5;;
}
.register_box p, .login_box p, .logout_box p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.userimg {
    border-radius: 50%;
}
.userid {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}